/* Variables */
:root {
  --color-primary: #1e1e2e;
  --color-primary-lighter: #1e1e2eb3;
  --color-secondary: #fdebf3;
  --color-secondary-lighter: #fdebf366;
  --color-tertiary: #584966;
  --color-underline: #375a7f;
  --color-highlight: #78c2ad;
  --color-link: #4aa48a;
  --font-primary: "Pacifico", cursive;
  --font-secondary: "Josefin Sans", sans-serif;
}

/** Themes */
.dark {
  --text-primary: var(--color-secondary);
  --text-primary-invert: var(--color-primary);

  --background-primary: var(--color-primary);
  --background-primary-invert: var(--color-secondary);
  --background-secondary: var(--color-primary-lighter);
  --background-primary-invert: var(--color-secondary);
  --background-secondary-invert: var(--color-secondary-lighter);

  --border-primary: var(--color-secondary);
  --border-secondary: var(--color-secondary-lighter);

  --pagination-hover: rgba(255, 255, 255, 0.04);
  --pagination-selected: rgba(255, 255, 255, 0.09);

  --shadow-color: #fdebf326;
  --box-ring-color: var(--color-secondary);
}

.light {
  --text-primary: var(--color-primary);
  --text-primary-invert: var(--color-secondary);

  --background-primary: var(--color-secondary);
  --background-secondary: var(--color-secondary-lighter);
  --background-primary-invert: var(--color-primary);
  --background-secondary-invert: var(--color-primary-lighter);

  --border-primary: var(--color-primary);
  --border-secondary: var(--color-primary-lighter);

  --pagination-hover: rgba(0, 0, 0, 0.06);
  --pagination-selected: rgba(0, 0, 0, 0.09);

  --shadow-color: #1e1e2e26;
  --ring-color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --text-primary: var(--color-secondary);
    --text-primary-invert: var(--color-primary);

    --background-primary: var(--color-primary);
    --background-primary-invert: var(--color-secondary);
    --background-secondary: var(--color-primary-lighter);
    --background-primary-invert: var(--color-secondary);
    --background-secondary-invert: var(--color-secondary-lighter);

    --border-primary: var(--color-secondary);
    --border-secondary: var(--color-secondary-lighter);

    --pagination-hover: rgba(255, 255, 255, 0.04);
    --pagination-selected: rgba(255, 255, 255, 0.09);

    --shadow-color: #fdebf31a;
    --box-ring-color: var(--color-secondary);
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.light):not(.dark) {
    --text-primary: var(--color-primary);
    --text-primary-invert: var(--color-secondary);

    --background-primary: var(--color-secondary);
    --background-secondary: var(--color-secondary-lighter);
    --background-primary-invert: var(--color-primary);
    --background-secondary-invert: var(--color-primary-lighter);

    --border-primary: var(--color-primary);
    --border-secondary: var(--color-primary-lighter);

    --pagination-hover: rgba(0, 0, 0, 0.06);
    --pagination-selected: rgba(0, 0, 0, 0.09);

    --shadow-color: #1e1e2e26;
    --ring-color: var(--color-primary);
  }
}

/* Resets */
@import url("./normalize.css");

/* Global styles */

html {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

body {
  font-family: var(--font-secondary);
  margin: 0 auto;
  padding: 0 1.25rem;
}

#__next {
  display: contents;
}

/* Skip links */
.skip-link {
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.skip-link:focus {
  background-color: var(--background-primary-invert);
  clip: auto;
  clip-path: none;
  color: var(--text-primary-invert);
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 0.938em 1.438em;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* some number that will make sure it covers other elements */
}

/* Headings */
h1,
h2 {
  font-family: var(--font-primary);
  font-weight: normal;
}

h1 {
  font-size: 2.6em;
  margin: 0;
}

h2 {
  text-decoration: underline var(--color-underline) 0.119em;
  text-underline-offset: 0.179em;
  font-size: 2.1em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.5rem;
}

/* Paragraphs */
p {
  font-size: 1.1em;
  hyphens: auto;
  line-height: 1.5;
  text-indent: 1em;
}

/* Links */

a,
a:active {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline var(--color-highlight) 0.114em;
  text-underline-offset: 0.341em;
}

/* Box Shadow */
.box-shadow {
  --ring-offset-shadow: 0 0 var(--ring-color);
  --ring-shadow: 0 0 var(--ring-color);
  --shadow: 0 10px 15px -3px var(--shadow-color),
    0 4px 6px -4px var(--shadow-color);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000),
    var(--ring-shadow, 0 0 #0000), var(--shadow);
}

/* Images */

.dyamic-image-wrapper {
  position: relative;
}

.dyamic-image {
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  object-fit: contain;
}

/* Accessibility */
/*
 * Hide visually only - remains available to Assistive Technology.
 * The :not portions of the following selector allow a means for any
 * focusable element to become visible when focused/active by a user.
 */
.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Reset default element style */
.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;
}

/* Media Query */
/** sm: ≥568px */
@media screen and (min-width: 35.5rem) {
  body {
    max-width: 35.5rem;
  }
}

/** md: ≥768px */
@media screen and (min-width: 48rem) {
  body {
    max-width: 38.25rem;
  }
}
