/* Variables */
:root {
  --color-primary: #1e1e2e;
  --color-secondary: #fdebf3;
  --color-underline: #375a7f;
  --font-primary: "Pacifico", cursive;
  --font-secondary: "Josefin Sans", sans-serif;
}

/* Resets */
@import url("./normalize.css");

/* Global styles */
html {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

body {
  margin: 0 24px;
  text-align: justify;
}

#__next {
  display: contents;
}

/* Skip links */
.skip-link {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
  z-index: 500; /* some number that will make sure it covers other elements */
}

.skip-link:focus {
  right: auto;
  background-color: #000;
  color: #fff;
  border: #fff 3px solid;
  padding: 1em;
}

/* Headings */
h1,
h2 {
  font-family: var(--font-primary);
  font-weight: normal;
}

h1 {
  font-size: 2.6em;
  margin: 0;
}

h2 {
  text-decoration: underline var(--color-underline);
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-size: 2.1em;
  margin-bottom: 0;
}

/* Paragraphs */
p {
  font-family: var(--font-secondary);
  font-size: 1.1em;
  hyphens: auto;
  line-height: 1.5;
  text-indent: 1em;
}

/* Light theme */
html.light {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* Media Query */
@media screen and (min-width: 35.5em) {
  body {
    max-width: 540px;
    margin: 0 auto;
  }
}
